@CHARSET "ISO-8859-1";

/* Just to align the container */
	#container {width: 400px; margin: 30px auto; text-align: center; padding: 100px 0; background: #EEEEEE;}
	/* The important bit */
	h1 {position: relative; margin: 0 -25px; font-size: 40px; background: #222222; color: #FFFFFF; text-shadow: 1px 1px 0px #222222; box-shadow: 0 0 10px #AAA;}
	h1:after,
	h1:before {content: ""; display: block; position: absolute; bottom: -25px; width: 0; height: 0; border-style: solid; border-color: #1A5D6E transparent;}
	h1:before {border-width: 25px 0 0 25px; left: 0;}
	h1:after  {border-width: 25px 25px 0 0; right: 0;}